<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DriveInventory.My.MySettings.USB_CatalogConnectionString"
            connectionString="Data Source=JEFFSENVY;Initial Catalog=USB_Catalog;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="DriveInventory.My.MySettings.MediaDatabaseConnectionString"
            connectionString="Data Source=JEFFSENVY;Initial Catalog=MediaDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>